In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
%pwd

'c:\\Users\\shipr\\OneDrive\\Documents\\project\\Vaccine_Data_Analysis\\notebook'

In [5]:
import os 
os.chdir('..')

In [6]:
incidents = pd.read_excel("raw/incidence-rate-data.xlsx")

In [7]:
incidents.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0

In [8]:
incidents.isnull().sum()

GROUP                      0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
DENOMINATOR                1
INCIDENCE_RATE         23362
dtype: int64

In [9]:
incidents.dtypes

GROUP                   object
CODE                    object
NAME                    object
YEAR                   float64
DISEASE                 object
DISEASE_DESCRIPTION     object
DENOMINATOR             object
INCIDENCE_RATE         float64
dtype: object

In [10]:
incidents['DISEASE'].value_counts()

DISEASE
MEASLES            9196
NTETANUS           9182
DIPHTHERIA         9181
PERTUSSIS          9181
POLIO              9130
TTETANUS           9127
YFEVER             9122
RUBELLA            5205
CRS                5153
MUMPS              5124
JAPENC             3224
TYPHOID            1280
INVASIVE_MENING     840
Name: count, dtype: int64

In [11]:
incidents.describe()

               YEAR  INCIDENCE_RATE
count  84945.000000    61584.000000
mean    2004.095791      109.448781
std       12.595166      992.276983
min     1980.000000        0.000000
25%     1994.000000        0.000000
50%     2005.000000        0.000000
75%     2015.000000        4.600000
max     2023.000000    69101.300000

In [12]:
incidents['DENOMINATOR'].value_counts()

DENOMINATOR
per 1,000,000 total population    61480
per 1,000,000 <15 population       9130
per 1,000 live births              8874
per 10,000 live births             5153
per 1000 live births                308
Name: count, dtype: int64

In [13]:
incidents['INCIDENCE_RATE'].isnull().sum()

np.int64(23362)

In [14]:
incidents['YEAR'].value_counts()

YEAR
2021.0    2697
2023.0    2666
2022.0    2666
2020.0    2598
2018.0    2595
2019.0    2487
2017.0    2347
2012.0    2260
2007.0    2251
2015.0    2227
2011.0    2214
2010.0    2211
2016.0    2198
2013.0    2192
2009.0    2191
2008.0    2183
2014.0    2182
2006.0    2138
2003.0    2095
2004.0    2093
2000.0    2078
1999.0    2058
2001.0    2046
2005.0    2041
2002.0    1987
1997.0    1523
1996.0    1491
1998.0    1486
1995.0    1484
1994.0    1484
1993.0    1484
1992.0    1484
1991.0    1484
1990.0    1484
1989.0    1484
1988.0    1484
1987.0    1484
1986.0    1484
1985.0    1484
1984.0    1484
1983.0    1484
1982.0    1484
1981.0    1484
1980.0    1484
Name: count, dtype: int64

In [15]:
# sorting the dataframe by YEAR in ascending order and resetting the index
incidents.sort_values(['YEAR'], ascending=[True], inplace=True)
incidents.reset_index(drop=True, inplace=True)

In [16]:
incidents.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,PER,Peru,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",NaN
1,COUNTRIES,PER,Peru,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",698.9
2,COUNTRIES,PER,Peru,1980.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.5
3,COUNTRIES,PER,Peru,1980.0,MEASLES,Measles,"per 1,000,000 total population",1108.6
4,COUNTRIES,PER,Peru,1980.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",10.7

In [17]:
# replace null values in INCIDENCE_RATE with 0
incidents['INCIDENCE_RATE'].fillna(0, inplace=True)

C:\Users\shipr\AppData\Local\Temp\ipykernel_21752\1049533624.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  incidents['INCIDENCE_RATE'].fillna(0, inplace=True)

In [18]:
# check if the code worked
incidents.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,PER,Peru,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.0
1,COUNTRIES,PER,Peru,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",698.9
2,COUNTRIES,PER,Peru,1980.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.5
3,COUNTRIES,PER,Peru,1980.0,MEASLES,Measles,"per 1,000,000 total population",1108.6
4,COUNTRIES,PER,Peru,1980.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",10.7

In [19]:
# check if there are any null values left in INCIDENCE_RATE
incidents['INCIDENCE_RATE'].isnull().sum()

np.int64(0)

In [20]:
incidents['DISEASE_DESCRIPTION'].value_counts()

DISEASE_DESCRIPTION
Measles                           9196
Neonatal tetanus                  9182
Pertussis                         9181
Diphtheria                        9181
Poliomyelitis                     9130
Total tetanus                     9127
Yellow fever                      9122
Rubella                           5205
Congenital rubella syndrome       5153
Mumps                             5124
Japanese encephalitis             3224
Typhoid                           1280
Invasive meningococcal disease     840
Name: count, dtype: int64

In [21]:
# converting YEAR column to numeric type and handling errors, then converting to nullable integer type
incidents['YEAR'] = pd.to_numeric(incidents['YEAR'], errors='coerce').astype('Int64')

In [22]:
# checking the data type of YEAR column
incidents['YEAR'].dtypes

Int64Dtype()

In [23]:
# converting DENOMINATOR values to have consistent formatting
incidents['DENOMINATOR'] = incidents['DENOMINATOR'].str.replace('per 1000 live births', 'per 1,000 live births')

In [24]:
# checking if the conversion worked
incidents['DENOMINATOR'].value_counts()

DENOMINATOR
per 1,000,000 total population    61480
per 1,000 live births              9182
per 1,000,000 <15 population       9130
per 10,000 live births             5153
Name: count, dtype: int64

In [25]:
incidents.head()

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,PER,Peru,1980,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.0
1,COUNTRIES,PER,Peru,1980,PERTUSSIS,Pertussis,"per 1,000,000 total population",698.9
2,COUNTRIES,PER,Peru,1980,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.5
3,COUNTRIES,PER,Peru,1980,MEASLES,Measles,"per 1,000,000 total population",1108.6
4,COUNTRIES,PER,Peru,1980,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",10.7

In [26]:
incidents['GROUP'].value_counts()

GROUP
COUNTRIES                        82054
WHO_REGIONS                       2467
GLOBAL                             424
Created: 2025-02-01 16:03 UTC        1
Name: count, dtype: int64

In [25]:
# replacing 'WHO_REGIONS' and 'GLOBAL' with 'COUNTRIES' in the GROUP column
#incidents['GROUP'] = incidents['GROUP'].str.replace('WHO_REGIONS', 'COUNTRIES')
#incidents['GROUP'] = incidents['GROUP'].str.replace('GLOBAL', 'COUNTRIES')

In [27]:
incidents['GROUP'].value_counts()

GROUP
COUNTRIES                        82054
WHO_REGIONS                       2467
GLOBAL                             424
Created: 2025-02-01 16:03 UTC        1
Name: count, dtype: int64

In [28]:
# Remove rows where GROUP contains "Created"
incidents = incidents[~incidents['GROUP'].str.contains('Created', na=False)]

In [29]:
incidents['GROUP'].value_counts()

GROUP
COUNTRIES      82054
WHO_REGIONS     2467
GLOBAL           424
Name: count, dtype: int64

In [30]:
incidents = incidents.to_excel("processed/cleaned-incidence-rate-data.xlsx", index=False)