In [1]:
import pandas as pd
import numpy as np

In [2]:
import os 
os.chdir('..')

In [4]:
vaccine = pd.read_excel("raw/vaccine-introduction-data.xlsx")

In [5]:
vaccine.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [6]:
vaccine.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

In [7]:
vaccine['YEAR'] = pd.to_numeric(vaccine['YEAR'], errors='coerce').astype('Int64')

In [8]:
vaccine.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023,Hib (Haemophilus influenzae type B) vaccine,Yes

In [9]:
vaccine.sort_values(['YEAR'], ascending=[True], inplace=True)
vaccine.reset_index(drop=True, inplace=True)

In [10]:
vaccine.head()

  ISO_3_CODE   COUNTRYNAME WHO_REGION  YEAR                 DESCRIPTION INTRO
0        LUX    Luxembourg       EURO  1940  Seasonal Influenza vaccine    No
1        ISL       Iceland       EURO  1940  Seasonal Influenza vaccine    No
2        UGA        Uganda       AFRO  1940  Seasonal Influenza vaccine    No
3        BTN        Bhutan      SEARO  1940  Seasonal Influenza vaccine    No
4        COK  Cook Islands       WPRO  1940  Seasonal Influenza vaccine    No

In [11]:
# Remove rows where GROUP contains "Created"
vaccine = vaccine[~vaccine['ISO_3_CODE'].str.contains('Created', na=False)]

In [12]:
vaccine.head()

  ISO_3_CODE   COUNTRYNAME WHO_REGION  YEAR                 DESCRIPTION INTRO
0        LUX    Luxembourg       EURO  1940  Seasonal Influenza vaccine    No
1        ISL       Iceland       EURO  1940  Seasonal Influenza vaccine    No
2        UGA        Uganda       AFRO  1940  Seasonal Influenza vaccine    No
3        BTN        Bhutan      SEARO  1940  Seasonal Influenza vaccine    No
4        COK  Cook Islands       WPRO  1940  Seasonal Influenza vaccine    No

In [13]:
vaccine.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           0
DESCRIPTION    0
INTRO          0
dtype: int64

In [14]:
vaccine = vaccine.to_excel("processed/cleaned_vaccine_introduction_data.xlsx", index=False)